<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <script src="app.js"> </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
    .cover {
    height: 100%;
    width: 100%;
    object-fit: cover;
} 
    .thumbnail {
      height: 300px;
      width: 200px;
    }

  </style>
</head>
<!-- background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/2166afb0-095c-45de-b4d1-e03aa3bbb8ef/d82lslj-e2e3c9f2-982a-4022-a533-eed26a5764ac.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzIxNjZhZmIwLTA5NWMtNDVkZS1iNGQxLWUwM2FhM2JiYjhlZlwvZDgybHNsai1lMmUzYzlmMi05ODJhLTQwMjItYTUzMy1lZWQyNmE1NzY0YWMucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.0P-Qj4Tg00w9Qu9Xkidb340Hj_HPQx9vkx8MzF-Hlk8');  -->
<!-- background: url('./OzedFcy.png'); -->

<body>
  <div class="jumbotron text-center" style="
    margin-bottom:0; 
    background: url('./images/sleepy.gif');

    background-size:100% 100%;"
  >
    <h1>My First Bootstrap 4 Page</h1>
  </div>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">lol</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Broken</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./About.html">About</a>
        </li>    
      </ul>
    </div>  
  </nav>

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-2">
        <h3>Articles</h3>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-10">
        <h2>TITLE HEADING</h2>
        <h5>Title description, Dec 7, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        <br>
        <h2>TITLE HEADING</h2>
        <h5>Title description, Sep 2, 2017</h5>
        <div class="fakeimg">Fake Image</div>
        <p>Some text..</p>
        <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
        </div>
      <div class="col-sm-10">
        <img src="./images/sleepy.png" class="thumbnail" />
        <img src="./images/uguuseiba.jpg" class="thumbnail"/>
        <img src="./images/wutdis.gif" class="thumbnail"/>
        <img src="./images/seiba2.jpg" class="thumbnail"/>
        <img src="./images/food2.png" class="thumbnail"/>
      </div>
  </div>

</body>
  <script src="Test1.js"> </script>
  <script src="app.js"> </script>

</html>